

/* ----------------------------------------------------------------
     [ 01 Start Basics ]
-----------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  list-style: none;
  word-wrap: break-word;
}

body {
  color: #000;
  line-height: 1.3;
  font-weight: 400;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden !important;
}

p {
  font-size: 14px;
  font-weight: 300;
  color: #8a8a8a;
  line-height: 2;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

span, a, a:hover {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.section-padding {
  padding: 120px 0;
}

.section-head {
  margin-bottom: 80px;
}
.section-head h3 {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.section-head span {
  position: relative;
}
.section-head span:after, .section-head span:before {
  content: '';
  width: 100px;
  height: 3px;
  position: absolute;
  top: 9px;
  background: #555;
}
.section-head span:after {
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#555));
  background: linear-gradient(to right, transparent, #555);
}
.section-head span:before {
  left: 0;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#555));
  background: linear-gradient(to left, transparent, #555);
}
.section-head span i {
  display: inline-block;
  width: 7px;
  height: 7px;
  background: #555;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  z-index: 3;
}

.bg-gray {
  background: #f7f7f7;
}

.o-hidden {
  overflow: hidden;
}

.position-re {
  position: relative;
}

.full-width {
  width: 100% !important;
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-fixed {
  background-attachment: fixed;
}

.valign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.v-middle {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 15px;
  line-height: .7;
}

.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 0 7px;
  border-radius: 50%;
  border: 1px solid #eee;
  background: transparent;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #eee;
}

.cd-headline {
  font-size: 3rem;
  line-height: 1.2;
}

@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 4.4rem;
    font-weight: 300;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 6rem;
  }
}
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.no-js .cd-words-wrapper b {
  opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

/* xclip */
.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 10%;
  right: 0;
  width: 2px;
  height: 70%;
  background-color: #aebcb9;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
}


/* ----------------------------------------------------------------
     [ 07 Start Works ]
-----------------------------------------------------------------*/


.works .filtering span {
  margin: 0 5px;
  padding: 8px 20px;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
}
.works .filtering .active {
  background: #111;
  -webkit-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
  color: #fff;
}
.works .item-img {
  position: relative;
  margin-top: 30px;
  overflow: hidden;
}

.works .item-img:hover .item-img-overlay {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
  -webkit-transition: opacity 0s, -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: opacity 0s, -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1), opacity 0s;
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1), opacity 0s, -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
.works .item-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.95);
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.works .item-img-overlay .icon {
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #fff;
  margin: 15px 5px 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.works .item-img-overlay .icon:hover {
  background: #111;
  color: #fff;
}
.works .item-img-overlay .icon:before {
  line-height: 2;
}

/* ----------------------------------------------------------------
     [ End Works ]
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
 	 [ 12 Responsive ]
-----------------------------------------------------------------*/
@media screen and (max-width: 991px) {
  .mb-md50 {
    margin-bottom: 50px;
  }

  .mb-md30 {
    margin-bottom: 30px;
  }

  .mb-md0 {
    margin-bottom: 0;
  }

  .bgimg-height {
    height: 400px;
  }

  .bg-fixed {
    background-attachment: scroll !important;
  }

  .navbar {
    padding-left: 15px;
  }
  .navbar .navbar-collapse {
    max-height: 340px;
    overflow: auto;
    background: #111;
    text-align: center;
    padding: 10px 0;
  }
  .navbar .nav-link {
    margin: 10px auto !important;
  }
  .navbar .nav-scroll .navbar-collapse .nav-link {
    color: #fff !important;
  }
  .navbar .nav-scroll .navbar-collapse .nav-link:after {
    background: #fff;
  }

  .header {
    background-attachment: scroll !important;
    background-position: 50% 0% !important;
  }
  .header .caption h1 {
    font-size: 30px;
  }

  .hero .hero-img:after {
    display: none;
  }

  .hero .content {
    padding-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .mb-sm50 {
    margin-bottom: 50px;
  }

  .mb-sm30 {
    margin-bottom: 30px;
  }

  .header .caption h1 {
    font-size: 25px;
  }
  .header .caption p {
    font-size: 12px;
  }

  .portfolio .filtering span {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 480px) {
  .section-head h3 {
    font-size: 20px;
  }
}




